body
{

	background-color: #FFAC33;
	margin:0px;

}

#Titre
{
	text-align: center;
	align-content: center;
	height: 5%;
	color: white;

}

#Textef
{
	width: 85%;
	margin: auto;
	text-align: center;
	align-content: center;
	height: 200px;
	color: white;

}

#Signature
{
	color: #2D30E9;
	height: 3%;
	font-family: cursive;
	text-align: center;
	align-content: center;
}

#Lien4
{
	text-align: center;
	align-content: center;
	height: 215px;
	width: 200px;
	border-radius:10%;
	margin-right: 3%;
	margin-left: 3%;
}

#Lien3
{
	text-align: center;
	background-size: 100%;
	background-repeat: none;
	align-content: center;
	height: 125px;
	width:125px;
	border-radius:10%;
	background-color: white;
	margin: auto;
}

#Liens2
{
	text-align: center;
	align-content: center;
	display: flex;
	width: 75%;
	height: auto;
	color: white;
	margin: auto;
}

#Liens
{
	text-align: center;
	align-content: center;
	font-size: X-large;
	height: 3%;
}

a
{
	text-decoration:none;
}

#Histoire
{
	margin-left: 0px;
	position: absolute;
	width: 100%;
	margin-top: 0px;
}

#Memed
{
	background-size: 100%;
	background-repeat: no-repeat;
	height: 300px;
	width: 300px;
	background-color: none;
	margin-left: 15%;
	margin-top: 280px;
	position: absolute;
}

#Fondtexte
{
	height: 300px;
	width: 300px;
	background-size: 100%;
	background-repeat: no-repeat;
	margin-left: 30%;
	margin-top: 80px;
	position: absolute;
}

#Texte
{
	width: 240px;
	margin-left: 11%;
	text-align: center;
	align-content: center;
	height:240px;
	color: black;
	border-radius: 35%;
}

#Continuer
{
	font-size: X-large;
	height: 200%;
	margin-left: 85%;
	margin-top: 550px;
}

