body
{

	background-color: #FFAC33;
	margin:0px;

}

#Titre
{
	text-align: center;
	align-content: center;
	height: 5%;
	color: white;

}

#Texte
{
	width: 1200px;
	margin: auto;
	text-align: center;
	align-content: center;
	height: 175px;
	color: white;
}

#Signature
{
	color: #2D30E9;
	height: 3%;
	font-family: cursive;
	text-align: center;
	align-content: center;
}

#Lien4
{
	text-align: center;
	align-content: center;
	height: 260px;
	width: 175px;
	border-radius:10%;
	margin-right: 3%;
	margin-left: 3%;
}

#Lien3
{
	text-align: center;
	background-repeat: no-repeat;
	align-content: center;
	height: 150px;
	width:150px;;
	border-radius:10%;
	background-color: white;
	margin: auto;
}

#Liens2
{
	text-align: center;
	align-content: center;
	display: flex;
	width: 75%;
	height: auto;
	color: white;
	margin: auto;
}

#Liens
{
	text-align: center;
	align-content: center;
	font-size: X-large;
	height: 3%;
}

a
{
	text-decoration:none;
}

