body
{

	background-color: #FFAC33;
	margin:0px;

}

#Fond
{
	background-size: 100%;
	background-repeat: no-repeat;
}

#Titre
{
	text-align: center;
	align-content: center;
	height: 5%;
	color: rgb(0, 0, 0);
}

#Fondtexte
{
	width: 85%;
	height: 320px;
	margin: auto;
	background: rgb(255,255,255,0.8);
	border-radius: 13%;
}

#Texte
{
	width: 85%;
	margin: auto;
	text-align: left;
}

#Signature
{
	color: #2D30E9;
	height: 3%;
	font-family: cursive;
	text-align: center;
	align-content: center;
}

#Liens
{
	text-align: center;
	align-content: center;
	font-size: X-large;
	height: 30px;
}

a
{
	text-decoration:none;
}

p5
{
	font-size: X-large;
}
